body{
    background-color: rgba(255, 255, 255, 0.671);
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
              
}

#Header{
    background-color:rgb(138, 116, 116);
    margin: 15px;
    height: 90px;
    border-radius:40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-color: rgb(46, 220, 7);
    margin: 20px;
    height: 30px;
    border-radius: 10px; 
}

#navbar ul{
    
    margin: 20px;
    text-align: center;
    padding: 5px;
}


#navbar ul li{
    
    display: inline;
    margin: 150px;
    
     
}

#navbar ul li a{
    text-decoration: none;
    color: rgb(11, 1, 1);
     
     
     
}
#navbar ul li a:hover{

    color: indianred;
}

h1{
position: relative;
top: 50%;
-webkit-transform:translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);


}

.main{
    font-family: inherit;
    font-size: inherit;
    
    
}

#footer{
background-color: rgb(207, 17, 17);
margin: 15px;
height: 40px;
border-radius: 20px;
text-align: center;
}

P{
font-size: 20px;

}



















